<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.DB_SpringBoot.board.mapper.BoardMapper">
    <select id="getBoards" resultType="com.example.DB_SpringBoot.board.domain.BoardVO">
        SELECT * FROM test_database.table1
    </select>
</mapper>